.imageOverlay {
   font: bold 1rem/2rem Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   padding: 1rem; 
}
.cardContainer {
    width: 50%;
}

@media only screen and (max-width: 728px) {
    .cardContainer {
        width: 100%;
    }
}