.imageOverlay {
   font: bold 1rem/2rem Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   padding: 1rem; 
}
.cardContainer {
    width: 50%;
}

@media only screen and (max-width: 728px) {
    .cardContainer {
        width: 100%;
    }
}
.recipeTitle{
    text-align: center;
    font-size: 1.5em;
    letter-spacing: -1px;
    border-bottom: 2px solid #242582;
    text-transform: uppercase;
}
.recipeNameIcon {
    font-size: 1em;
}
.creatorName {
    color: #242582;
}
.creatorName:hover {
    color: #e27d60;
}
.heartIcon {
    color: #242582;
}
.heartLiked {
    color:red;
}
.likeButton {

}
.likedButton {
    color: #fff;
    background-color: #e27d60;
    border-color: #e27d60;
}
.likedButton:focus {
    color: #fff;
    background-color: #e27d60;
    border-color: #e27d49;
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}
.likedButton:disabled {
    color: #fff;
    background-color: #e27d60;
    border-color: #e27d49;
    
}