body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* change default navbar colors  */
.custom-navbar {
  background-color: #242582;
} 
.navbar-light .navbar-nav .nav-link {
  color: #FFFFFF;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #99738E;
}
.navbar-light .navbar-nav .nav-link.active {
  color: #99738E;
}
.navbar-light .navbar-nav .show>.nav-link {
  color: #99738E;
}
.dropdown-menu.show {
  background: #242582;
  border: 1px solid #FFFFFF;
   
  
  
}
.dropdown-item {
  color: #FFFFFF;
}
.dropdown-item.active{
  background-color: #242582;
  color:#99738E
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #99738E;
  border-top: 1px solid #FFFFFF;
}


/* change hamburger color  */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* end of change default navbar colors  */


/* add styles of pagination */
.page-item.active .page-link {
  color: #fff;
  background-color: #242582;
  border-color: #242582;
}
.page-link {
  color: #242582;
}
.page-link:hover {
  color: #242582;
}
/* end of add styles of pagination */

/* change btn primary color */

.btn-primary {
  color: #fff;
  background-color: #242582;
  border-color: #e27d60;
}
.btn-primary:hover {
  color: #fff;
  background-color: #e27d60;
  border-color: #e27d60;
}

/* end of change btn primary color */



/* change color of font awesome icons */
.fa-grip-horizontal,
.fa-clock,
.fa-file-signature,
.fa-bread-slice,
.fa-image {
  color: #242582;
  font-size: 1rem;
}
/* end of change color of font awesome icons */

.recipes-loader{
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}